.FunWayContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 9.35%;
    top: 50.4%;
}

.FunWay {
    position: absolute;
    max-width: 44.5%;
    z-index: 2;
    top: 24%;
}

.Rectangle {
    position: absolute;
    bottom: 20%;
    width: 18.9%;
    height: 7.1%;
    padding: 14.4% 0;
    border-radius: 28px;
    background-color: #e9ecf0;
}

@media (max-width: 1025px) {
    .FunWayContainer {
        height: 11.5%;
        top: 46%;
    }

    .FunWay {
        top: 55%;
        max-width: 85%;
    }

    .Rectangle {
        bottom: 0;
        width: 272px;
        height: 496px;
        padding: 0;
        flex-grow: 0;
        border-radius: 28px;
        background-color: #e9ecf0;
    }
}

@media (max-width: 767px) {
    .FunWayContainer {
        top: 59%;
        width: 100%;
    }
    .FunWay {
        max-width: 98%;
        min-width: 98%;
        top: 320px;
    }
    .Rectangle {
        width: 216px;
        height: 394px;
        top: 170px;
    }
}