.SetRoute {
    position: absolute;
    font-family: Aktiv Grotesk Regular;
    line-height: 24px;
    font-size: 16px;
    top: 35%;
    left: 37.7%;
    z-index: 4;
    width: 24.6%;
    margin: 0;
    text-align: center;
}

.Group {
    position: absolute;
    max-height: 82.5%;
    bottom: 2.8%;
    left: 31.9%;
}

@media (max-width: 1025px) {
    .SetRoute {
        left: 33.4%;
        top: 38.2%;
    }
    .Group {
        max-width: 96.2%;
        left: 18.5%;
    }
}

@media (max-width: 767px) {
    .SetRoute {
        left: 12%;
        top: 20%;
    }

    .Group {
        left: 5%;
        top: 2%;
    }
}