.Switch {
    background-color: #f6f6f6;
    width: 100vw;
    height: 801px;
    /*height: 11.5%;*/
}

.Wrapper {
    position: absolute;
    width: 79.3%;
    height: 80.6%;
    margin: 0.6% 10.3% 0 10.3%;
    background-color: #ffffff;
    border-radius: 29px;
}