.Switch {
    background-color: #f6f6f6;
    position: relative;
    width: 100vw;
    height: 11.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.Wrapper {
    position: absolute;
    margin: 4.6% 0 4.6% 0;
    width: 91.7%;
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 29px;
}

@media (max-width: 767px) {
    .Switch {
        height: 667px;
    }

    .Wrapper {
        height: 635px;
    }
}