.Driving {
    position: absolute;
    font-family: Aktiv Grotesk Regular;
    line-height: 24px;
    font-size: 16px;
    top: 38.2%;
    left: 39.8%;
}

.MapWithCars {
    position: absolute;
    max-width: 59.3%;
    top: 54.3%;
    left: 21.7%;
}