@font-face {
    font-family: "Whyte Inktrap Regular";
    src: local("WhyteInktrap-Regular"),
    url("../../../fonts/WhyteInktrap-Regular.ttf");
}

@font-face {
    font-family: "Whyte Inktrap Medium";
    src: local("WhyteInktrap-Medium"),
    url("../../../fonts/WhyteInktrapMedium.ttf");
}

@font-face {
    font-family: "Whyte Inktrap Medium Italic";
    src: local("WhyteInktrap-MediumItalic"),
    url("../../../fonts/WhyteInktrapMediumItalic.ttf");
}

.Paragraph {
    margin: 150px 16.7% 8px 16.7%;
    text-align: center;
}

.Carpooling {
    font-family: "Whyte Inktrap Regular";
    font-size: 80px;
    line-height: 80px;
    margin: 8px auto 0 auto;
}

.Bold {
    font-family: "Whyte Inktrap Medium";
}

.Italic {
    font-family: "Whyte Inktrap Medium Italic";
}

.Fun {
    transform: rotate(-9deg);
    display: inline-block;
    margin-top: 25px;
}

@media (max-width: 1025px) {
    .Carpooling {
        margin: 0;
        font-size: 64px;
        line-height: 72px;
    }
}

@media (max-width: 767px) {
    .Carpooling {
        font-size: 32px;
        line-height: 40px;
    }

    .FunImg, .Fun {
        max-width: 53px;
        margin: 0;
    }
}
